body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.process-event tr>th:last-child,  .process-event tr>td:last-child {
  width: 600px !important;
}
.process-event th, .process-event td {
  width: 300px;
}
.screenshot{
  max-height: 500px;
}
th, td{
  width: 150px;
}